In [1]:
import pandas as pd
import  os
import  glob

path = r'D:\NUMPY\DATASET\FOOTBALL'
filenames = glob.glob(path + "/*.csv")
df = []

for file in filenames:
    df.append(pd.read_csv(file))

data_Ball = pd.concat( df,axis=0, ignore_index=True)
data_Ball.to_csv('transfer_data.csv')
data_Ball

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,current_club_domestic_competition_id,current_club_name,datetime,dateweek,n,player_club_domestic_competition_id
0,-1_172127,-1.0,172127.0,3999.0,3999.0,NaN,Tyronne,GRP,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1_210988,-1.0,210988.0,3999.0,553.0,NaN,Christos Eleftheriadis,GRP,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1_231471,-1.0,231471.0,3999.0,3999.0,NaN,Theofanis Tzandaris,GRP,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1_256819,-1.0,256819.0,3999.0,3999.0,NaN,Nikolaos Tsoukalos,GRP,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1_281919,-1.0,281919.0,3999.0,3999.0,NaN,Adam Tzanetopoulos,GRP,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364022,NaN,NaN,158071.0,NaN,NaN,2023-05-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-17 00:00:00,2023-05-15,1.0,ES1
2364023,NaN,NaN,187191.0,NaN,NaN,2023-05-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-17 00:00:00,2023-05-15,1.0,NL1
2364024,NaN,NaN,279110.0,NaN,NaN,2023-05-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-17 00:00:00,2023-05-15,1.0,ES1
2364025,NaN,NaN,863829.0,NaN,NaN,2023-05-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-17 00:00:00,2023-05-15,1.0,DK1
2364026,NaN,NaN,405676.0,NaN,NaN,2023-12-19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-12-19 00:00:00,2023-12-18,1.0,L1